*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

html , body{
    width: 100%;
    min-height: 100vh;
    min-width: 0;
    max-width: 100vw;
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}
main{
    margin: 10px;
    padding: 10p;
}

   /* font Rubik*/
   @font-face {
    font-family: 'rubik-bold';
    src: url(../fonts/Rubik/static/Rubik-Bold.ttf)
}

   /* font Rubik*/
   @font-face {
    font-family: 'rubik-medium';
    src: url(../fonts/Rubik/static/Rubik-Medium.ttf)
}

   /* font Rubik*/
   @font-face {
    font-family: 'rubik-regular';
    src: url(../fonts/Rubik/static/Rubik-Regular.ttf)
}

   /* font Rubik*/
   @font-face {
    font-family: 'rubik-ligth';
    src: url(../fonts/Rubik/static/Rubik-Light.ttf)
}

/*Nav- Estilos del Header*/
.fixed{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    background-color:#18275C;
    z-index: 2000;
    padding:15px;
}
.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    align-items: baseline;
    height: 100%; 
}
.cont-center{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:  center;
    height: 100%;
    gap: 10px; 
}
.iconos-nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
}
.item{
    width: 150px;
    color: #ffffff;
    text-align: center;
    font-family: 'rubik-regular';
    font-size: 28px;
}   
.logo-421{
    cursor: pointer;
}
.cont-center a {
 text-decoration: none;  
 color: #ffffff;
}
.cont-center a:hover, iconos-nav{
    color: #767676;
}
.logo-perfil {
    width: 45px;
}
.logo-carrito{
    width: 45px;
}
.logo-421{
    width:120px;
}
.icons-nav img:hover {
    transform: scale(1.7);
}
.iconos-nav img:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.respmenu .menu .icon-menu{
    display: none;
}

/*--------------------------style icomoon menu hamburguesa------------------------------*/
@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomoon.eot');
    src:  url('../fonts/icomoon.eot') format('embedded-opentype'),
      url('../fonts/icomoon.ttf') format('truetype'),
      url('../fonts/icomoon.woff') format('woff'),
      url('../fonts/icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  [class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .icon-menu:before {
    content: "\e9bd";
  }
/*-------------------------------Fin Font Menu Hamburguesa-----------------------------------------*/

/*Responsive nav*/
/*Tablet*/
@media screen and (max-width:744px){
  .respmenu .cont-center{
    display:none;
  }
  /*logo del perfil*/
  .respmenu .logo-perfil{ 
    display: none;
  }
  /*menu hamburguesa*/
  .respmenu .menu .icon-menu{
    display: block;
    font-size: 40px;
    color: #FFFFFF;
    cursor: pointer;
    margin-left: 15px;
  }
  /*redistribuir elementos del nav*/
  .respmenu .menu{
    margin-right: 18px;
    justify-content: space-between;
    align-items: center;
  }
  /*carrito*/
  .respmenu .logo-carrito{
    width: 45px;
    margin-right: 18px;
   }
}

/*iphone*/
@media screen and (max-width:393px){
      /*menu hamburguesa*/
      .respmenu .menu .icon-menu{
        font-size: 22px;
        margin-left: 12px;
      }
       /*logo*/
       .respmenu .logo-421{
        width: 100px;
       }
       /*carrito*/
       .respmenu .logo-carrito{
        width: 35px;
        margin-right: 12px;
       }
    
}
/* Final Nav- Estilos del Header----------------------------------*/
/* ------------------------------------------------------------------------------------------------------------------------------*/


/*Sección 1- Puerta camila y andres*/
.seccion1{
    position: relative;
    margin-top: 130px;
    width: 100%;
    overflow: hidden;
}
.relativoImg1{
    width: 100%;
}


.absoluteImg1{
    position: absolute;
    top: 35%;
    left: 10.2%;
    width: 35%;
    transition: transform 0.5s, ease;
}
.absoluteImg1:hover {
    transform: rotate(6deg);
    filter: brightness(1.2); 
}

.con-text-boton{
    position: absolute;
    z-index:1 ;
    width: 35%;
    top: 25%;
    left: 55%;
}

.con-text-boton h1{
    font-family: 'rubik-bold';
    font-size: 40px;
    line-height: 1.3;
    color: #C7BEDC;
}
.borde-boton{
    position: absolute;
    padding: 10px;
    border: 2px solid #C7BEDC;


}
.boton-seccion1{
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 10px 40px;
    background-color: #C7BEDC;
    color: #18275C;
    cursor: pointer;
    border: none;
    filter: brightness(1.2); 
}
.boton-seccion1:hover {
    font-family: 'rubik-medium';
    font-size: 16px;
    color: #C7BEDC;
    background-color: transparent;
}



/*Sección 2= cafe Coraje*/
.seccion2 {
    margin-top: 7%;
    margin-bottom: 7%;
}

.contenedor-novedades {
    position: relative;
    display: flex;
    background-color: #FFD050;
    width: 80%;
    height: 60vh;
    align-items: center;
    margin: 0 auto;
}

.corajecafe-nov {
    position: absolute;
    display: flexbox;
    left: 64.5%;
    top: 4%;
    width: 34%;
    height: auto;
    max-width: 100%;
}

.texto-novedades {
    margin-left: 3.5%;
}

.texto-novedades h1 {
    position: absolute;
    font-family: 'rubik-bold';
    font-size: 40px;
    color: #18275C;
    top: 10%;
    border-bottom: 4px solid #18275C;
    padding-bottom: 5px;
}

.texto-novedades h2 {
    position: absolute;
    font-family: 'rubik-bold';
    font-size: 28px;
    color: #18275C;
    top: 32%;
}

.texto-novedades p {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    line-height: 1.5;
    color: #18275C;
    top: 42%;
    max-width: 45%;
}

.boton-seccion2 {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 10px 57px;
    background-color: #18275C;
    color: #FFD050;
    cursor: pointer;
    border: none;
    filter: brightness(1.2);
    top: 60%;
}

.boton-seccion2:hover {
   top: 62%;
}

/*Sección 3- Unidos por el cafe, conectados por la pasion*/
.seccion4 {
    margin-top: 7%;
    margin-bottom: 10%;
}

.mariayandres {
    position: relative;
    width: 22%;
    display: flex;
    margin: 0 auto;
}

.mariayandres:hover {
    transform: rotate(2deg);
    filter: brightness(1.2); 
}

.texto-comunidad {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 3%;
    flex-direction: column;
}

.texto-comunidad h1 {
    position: relative;
    display: flex;
    font-family: 'rubik-bold';
    font-size: 40px;
    color: #18275C;
    top: 20%;
    text-align: center;
    margin: 0 auto;
}

.texto-comunidad p {
    position: relative;
    display: flex;
    font-family: 'rubik-regular';
    font-size: 16px;
    line-height: 1.5;
    color: #18275C;
    margin-top: 2%;
    text-align: center;
    left: 30%;
    align-items: center;
    max-width: 40%;
}

/*Playlist frotante*/
.playlist-contenedor {
    position: fixed;
    display: flex;
    width: 18%;
    height: 20%;
    background-color: #17203F;
    top: 75%;
    left: 5%;
    z-index: 2000;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.portada-playlist {
    position: absolute;
    width: 30%;
    left: 3.8%;
    top: 5.8%;
}

.contenedor-relative h1 {
    position: absolute;
    font-family: 'rubik-bold';
    font-size: 24px;
    color: #FFFFFF;
    left: 38%;
    top: 5%;
}

.spotify-pl {
    position: absolute;
    width: 8%;
    left: 88%;
    top: 8%
}

.rep1 {
    position: absolute;
    width: 50%;
    left: 38%;
    top: 30%;

}

.rep2 {
    position: absolute;
    width: 61%;
    left: 38%;
    top: 48%;
}

.boton-escucha {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 15px 43px;
    width: 94%;
    height: auto;
    background-color: #FFD050;
    color: #17203F;
    cursor: pointer;
    border: none;
    top: 70%;
    left: 3%;
    align-items: center;
}

.boton-escucha:hover {
    /*filter: brightness(1.2); */
    background-color: #C7BEDC;
}

.whatsapp-fija {
    width: 80px;
    height: 80px;
    background-color: #FFD050;
    position: fixed;
    left: 90%;
    top: 85%;
    border-radius: 50%;
    z-index: 5000;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.whatsapp-fija:hover {
    background-color: #C7BEDC;
}

.canal-whatsapp {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}

/*seccion 4- Carrusel Comunidad*/

.seccion3 {
    margin-bottom: -5%;
}

.contenedor-grid{
    position: relative;
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    /*background-color: #18275C;*/
    grid-template-columns: 28% 28% 28%;
    gap: 8%;
    height: 60vh;
}
.grid{
    background-color: #69B984;
    align-items: center;
    width: 100%;
    height: 90%;
    justify-content: center;
}

.carrusel{
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    transition: transform 0.3s ease;
}
.carrusel:hover{
    transform: scale(1.1);
}
/*Boton Explora coomunidad*/
.boton-seccion4 {
    margin-top: 3%;
    position: relative;
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 10px 57px;
    left: 42%;
    background-color: #18275C;
    color: #69B984;
    cursor: pointer;
    border: none;
    filter: brightness(1.2);
    justify-content: center;
}

.boton-seccion4:hover {
   transform: translateY(-30%);
}
.menu-accesibilidad {
    width: 75px;
    height: 75px;
    background-color: #FFD050;
    position: fixed;
    left: 90%;
    top: 73%;
    border-radius: 50%;
    z-index: 5000;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}

.menu-accesibilidad:hover {
    background-color: #C7BEDC;
}

.accesibilidad {
    position: absolute;
    width: 80%;
    left: 10%;
    top: 10%;
}

.fondo-img1-tablet {
    display: none;
}

.spotify-flotante {
    display: none;
}


/*CSS PRODUCTOS DESKTOP*/
.seccion1-productos {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}
.textosuperior {
    position: relative;
    width: 100%;
    height: 20vh;
    padding-top: 80px;
    margin-top: 20px;
}
.textosuperior h1 {
    font-family: 'rubik-bold';
    font-size: 40px;
    color: #18275C;
    position: absolute;
    top: 70%;
    left: 7%;
}
.barrabusqueda {
    position: absolute;
    flex-wrap: wrap;
    width: 40%;
    display: flex;
    margin: 20px;
    padding: 10px;
    border: 2px solid #1E215A;
    border-radius: 10px;
    top: 62%;
    left: 50%;
}
.busqueda-input {
    font-family:'Courier Prime', Courier, monospace;
    font-weight: 200;
    font-size: 16px;
    border: none;
    color: #18275C;
    outline: none;
    width: 80%;
}
.lupa {
    position: absolute;
    background: transparent;
    border: none;
    align-items: center;
    font-size: 20px;
    left: 92%;
    color: #17203F;
    top: 15%;
    cursor: pointer;
}
.lupa:hover {
  color: #2444b7;
}

.nuestros-cafes {
    margin-top: 50px;
}
.cafes-grid {
    position: relative;
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 28% 28% 28%;
    gap: 8%;
    height: 60vh;
}
.cafegrid{
    background-color: #364B9A;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.cafegrid h1 {
    font-family: 'rubik-bold';
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}
.cafegrid h2 {
    font-family: 'rubik-regular';
    font-size: 28px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
}

.productocafe {
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    transition: transform 0.3s ease;
}
.productocafe:hover {
    transform: scale(1.1);
}
.merchseccion {
    display: flex;
    position: relative;
    width: 100%;
    height: auto;
}
.titulomerch {
    position: relative;
    width: 100%;
    height: 10vh;
    padding-top: 80px;
}
.titulomerch h1 {
    font-family: 'rubik-bold';
    font-size: 40px;
    color: #18275C;
    position: absolute;
    top: 70%;
    left: 7%;
}
.merch-cafeteros {
    margin-top: 50px;
}
.merchgrid{
    position: relative;
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 28% 28% 28%;
    gap: 8%;
    height: 60vh;
}
.merchgrid2{
    background-color: #69B984;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.productomerch {
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    transition: transform 0.3s ease;
}
.productomerch:hover {
    transform: scale(1.1);
}
.merchgrid2 h1 {
    font-family: 'rubik-bold';
    font-size: 28px;
    color: #17203F;
    text-align: center;
}
.merchgrid2 h2 {
    font-family: 'rubik-regular';
    font-size: 28px;
    font-weight: lighter;
    color: #17203F;
    text-align: center;
}
.merchgrid-partedos{
    position: relative;
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 28% 28%;
    gap: 8%;
    height: 60vh;
    justify-content: center;
    top: 10vh;
}
.merchgrid2-partedos {
    background-color: #69B984;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.productomerch2 {
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    transition: transform 0.3s ease;
}
.productomerch2:hover {
    transform: scale(1.1);
}
.merchgrid2-partedos h1 {
    font-family: 'rubik-bold';
    font-size: 28px;
    color: #17203F;
    text-align: center;
}
.merchgrid2-partedos h2 {
    font-family: 'rubik-regular';
    font-size: 28px;
    font-weight: lighter;
    color: #17203F;
    text-align: center;
}
.merchgrid > :nth-child(4) {
        display: none;
    }

/*CSS DESKTOP PRODUCTO*/
.seccion2-producto {
   position: relative;
    margin-top: 190px;
    width: 100%;
}

.contenedor-CoRAJE {
    position: relative;
    display: flex;
    background-color: #FFD050;
    width: 80%;
    height: 75vh;
    align-items: center;
    margin: 0 auto;
}

.corajecafe-producto {
    position: absolute;
    display: flexbox;
    left: 64.5%;
    top: 4%;
    width: 34%;
    height: auto;
    max-width: 100%;
}

.contenedor-miniaturas {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 64.5%;
    top: 85%;
    gap: 20px; 
    margin-top: 20px;
}

.MiniaturaCoraje {
    width: 120px; 
    transition: transform 0.3s ease;
}

.MiniaturaCoraje:hover {
    transform: scale(1.05);
}


.texto-CoRAJE {
    margin-left: 3.5%;
}

.texto-CoRAJE h1 {
    position: absolute;
    font-family: 'rubik-bold';
    font-size: 40px;
    color: #18275C;
    top: 7%;
    padding-bottom: 5px;
}

.texto-CoRAJE h2 {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 28px;
    color: #18275C;
    top: 17%;
}

.texto-CoRAJE p {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    line-height: 1.5;
    color: #18275C;
    top: 27%;
    max-width: 40%;
}

.boton-productos{
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 10px 57px;
    background-color: #18275C;
    color: #FFD050;
    border-radius: 35px;
    filter: brightness(1.2);
    top: 65%;
}

.boton-productos:hover {
   top: 64%;
}

.boton-seccion2producto {
    position: absolute;
    font-family: 'rubik-regular';
    font-size: 16px;
    padding: 10px 57px;
    background-color: #18275C;
    color: #FFD050;
    filter: brightness(1.2);
    top: 80%;
}

.boton-seccion2producto:hover {
   top: 78%;
}

.contenedor-recomendacion {
    margin-top: 50px;
}
.contenedor-cafes {
    position: relative;
    display: grid;
    width: 80%;
    height: 100%;
    align-items: center;
    margin: 0 auto;
    grid-template-columns: 28% 28% 28%;
    gap: 8%;
    height: 45vh;
    margin-bottom: 10%;
}
.texto-recomendacion h1 {
    display: flex;
    position:relative;
    font-family:'rubik-bold';
    font-size: 40px;
    color: #18275C;
    top: 25%;
    margin-top: 50px;
    left: 9.8%;
}
.contenedorrecom {
    background-color: #364B9A;
    align-items: center;
    width: 100%;
    height: 100%;
    justify-content: center;
}
.contenedorrecom h1 {
    font-family: 'rubik-bold';
    font-size: 28px;
    color: #FFFFFF;
    text-align: center;
}
.contenedorrecom h2 {
    font-family: 'rubik-regular';
    font-size: 28px;
    font-weight: lighter;
    color: #FFFFFF;
    text-align: center;
}

.productocaferecom {
    width: 90%;
    align-items: center;
    justify-content: center;
    padding: 5%;
    transition: transform 0.3s ease;
}
.productocaferecom:hover {
    transform: scale(1.1);
}

/*Responsive Tablet*/
@media screen and (max-width: 744px){
    /*HOME*/
     * {
        box-sizing: border-box;
    }
   
    
    .seccion1 {
        margin-top: 90px;
    }
    .fondo-img1 {
        display: none;
    }
    .fondo-img1-tablet {
        display: block;
        position: relative;
        width: 100%;
        height: auto;
        top: -60px;
    }
    .con-text-boton {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 67%;
        left: 20%;
        width: 60%;
    }
    .con-text-boton h1 {
        font-size: 3.3vh;
        height: 40%;
        line-height: 1.4;
    }
    .borde-boton {
        top: 105%;
    }
    .seccion2 {
        margin-top: 0%;
    }
    .contenedor-novedades {
        height: 40vh;
    }
    .texto-novedades h1 {
        position: absolute;
        font-size: 34px;
        top: 18%;
    }
    .texto-novedades h2 {
    font-size: 24px;
    top: 37%;
    }
    .texto-novedades p {
        max-width: 45%;
        top: 48%;
    }
    .boton-seccion2 {
        top: 73%;
    }
    .corajecafe-nov {
        position: absolute;
        left: 55%;
        width: 43%;
        top: 20%;
    }
    .seccion3 {
        margin-top: 12%;
    }
    .mariayandres {
        width: 35%;
    }
    .texto-comunidad {
        height: 100%;
    }
    .texto-comunidad h1 {
        top: 90%;
        font-size: 34px;
        display: flex;
    }
    .texto-comunidad p {
        max-width: 60%;
        margin-top: 3.5%;
        left: 20%;
    }
    .seccion4 {
        margin-top: 8%;
    }
    .contenedor-grid {
        height: 100%;
        grid-template-columns: 42% 42%;
        align-items: center;
        gap: 8%;
        height: 32vh;
        justify-content: center;
        align-items: center;
    }
    .carrusel {
        width: 100%;
    }
    .boton-seccion4 {
        position: relative;
        left: 32%;
        top: 90%;
        margin-top: 6%;
    }
    .playlist-contenedor {
        display: none;
    }
    .whatsapp-fija {
        left: 85%;
        top: 88%;
    }
    .spotify-flotante {
        position: fixed;
        display: inline;
        width: 80px;
        height: 80px;
        z-index: 7000;
        top: 79%;
        left: 85%;
        box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
        border-radius: 50%;
        background-color: #FFD050;
    }
    .spotifyflotante-tablet {
        position: absolute;
        width: 70%;
        left: 15%;
        top: 15%;
    }
    .menu-accesibilidad {
        left: 85%;
        top: 70%;
        width: 80px;
        height: 80px;
    }
    .contenedor-grid > :nth-child(3) {
        display: none;
    }
    /*HASTA AQUÍ VA EL HOME*/

    /*PRODUCTOS*/
    .barrabusqueda {
        width: 80%;
        top: 40%;
        left: 7%;
    }
    .busqueda-input {
        font-size: 14px;
    }
    .textosuperior h1 {
        top: 77%;
        left: 9%;
    }
    .nuestros-cafes {
        margin-top: 30px;
    }
    .cafes-grid {
        grid-template-columns: 46% 46%;
        height: 73vh;
    }
    .productocafe {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .titulomerch h1 {
        top: 70%;
        left: 9%;
    }
    .merch-cafeteros {
        margin-top: 50px;
    }
    .merchgrid{
        width: 80%;
        height: 100%;
        grid-template-columns: 46% 46%;
        gap: 8%;
        height: 73vh;
    }
    .productomerch {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5%;
        transition: transform 0.3s ease;
    }
    .merchgrid > :nth-child(4) { /*ESTO HACE QUE SE OCULTE UN CONTENEDOR ESPECÍFICO*/
        display: block;
        
    }
    .merchgrid-partedos > :nth-child(1) {
        display: none;
    }
    .merchgrid-partedos{
        grid-template-columns: 46%;
        height: 33.5vh;
        justify-content: left;
        top: 6vh;
    }
    .productomerch2 {
    width: 100%;
    }

    /*PRODUCTO*/
    .contenedor-CoRAJE {
    width: 441px;
    height: 482px;
    margin-left: 52px;
    }
    .corajecafe-producto {
    top: 10%;
    width: 300px;
    }
    .contenedor-miniaturas {
    top: 70%;
    }
    .MiniaturaCoraje {
    width: 75px; 
    }   
    .texto-CoRAJE h1 {
    font-size: 35px;
    }
    .texto-CoRAJE h2 {
    font-size: 25px;
    }
    .texto-CoRAJE p {
    font-size: 14px;
    }
    .boton-productos{
    font-size: 14px;
    padding: 7px 40px;
    }
    .boton-seccion2producto {
    font-size: 14px;
    padding: 7px 40px;
    }
    .confianza {
    height: 390px;
    }
    .texto-recomendacion h1 {
    margin-left: -3.2%;
    }
    .contenedor-recomendacion {
        margin-left: -20px;
        margin-top: 100px;
    }
    .contenedor-cafes  {
        grid-template-columns: 46% 46%;
        height: 32vh;
        margin-top: -7%;
    }
    .contenedorrecom {
        width: 100%;
        align-items: center;
        justify-content: center;
        padding: 5%;
    }
    .contenedorrecom h1 {
        font-size: 20px;
    }
    .contenedorrecom h2 {
        font-size: 18px;
    }
    .productocaferecom {
        width: 100%;
    }
}

/*Responsive Celular*/
@media screen and (max-width: 394px) {
    /*HOME*/
     * {
        box-sizing: border-box;
    }
  
    .seccion1 {
        margin-top: 35px;
    }
    .fondo-img1-tablet {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;
        height: auto;
        top: 0px;
    }
    .con-text-boton {
        position: absolute;
        display: flex;
        justify-content: center;
        text-align: center;
        top: 71%;
        left: 13%;
        width: 75%;
    }
    .con-text-boton h1 {
        font-size: 2.5vh;
        height: 40%;
        line-height: 1.4;
    }
    .borde-boton {
        padding: 5px;
        border: 1px solid #C7BEDC;
    }
    .boton-seccion1 {
        font-size: 14px;
    }
    .seccion2 {
        height: 600px;
    }
    .contenedor-novedades {
        display: block;
        width: 100%;
        height: 80vh;
    }
    .corajecafe-nov {
        width: 80%;
        left: 10%;
        top: 7%;
    }
    .texto-novedades h1 {
        position: absolute;
        font-size: 34px;
        top: 57%;
        left: 22%;
        border-bottom: 3px solid #18275C;
        padding-bottom: 1px;
    }
    .texto-novedades h2 {
        top: 66%;
        left: 35%;
    }
    .texto-novedades p {
        text-align: center;
        max-width: 70%;
        top: 72%;
        left: 14%;
    }
    .boton-seccion2 {
        top: 90%;
        left: 27%;
    }
    .seccion3 {
        height: 500px;
    }
    .mariayandres {
        width: 42%;
        position: relative;
        margin-top: 35%;
    }
    .texto-comunidad h1 {
        font-size: 24px;
        max-width: 70%;
        line-height: 1.3;
    }
    .texto-comunidad p {
        max-width: 75%;
        left: 13%;
    }
    .seccion4 {
        margin-top: -25%;
        background-color: #69B984;
        height: 500px;
    }
    .contenedor-grid {
        height: 100%;
        grid-template-columns: 100%;
        align-items: center;
        gap: 8%;
        height: 32vh;
    }
    .carrusel {
        width: 100%;
        padding: 0%;
        top: 40%;
        margin-top: 10%;
    }
    .boton-seccion4 {
        position: relative;
        left: 17%;
        top: 25%;
        margin-top: 6%;
    }
    .contenedor-grid > :nth-child(1) {
        display: none;
    }
    .contenedor-grid > :nth-child(2) {
        display: none;
    }
    .contenedor-grid > :nth-child(3) {
        display: flex;
    }
    .whatsapp-fija {
        left: 82%;
        top: 88%;
        width: 50px;
        height: 50px;
    }
    .spotify-flotante {
        left: 82%;
        width: 50px;
        height: 50px;
        top: 80%;
    }
    .menu-accesibilidad {
        top: 72%;
        left: 82%;
        width: 50px;
        height: 50px;
    }
    /*AQUÍ TERMINA HOME*/

    /*PRODUCTOS*/
    .barrabusqueda {
    width: 77%;
    top: 37%;
    left: 7%;
    }
    .lupa {
        left: 85%;
    }
    .textosuperior h1 {
        font-size: 26px;
        left: 12%;
        top: 80%;
    }
    .cafes-grid {
        grid-template-columns: 96%;
        height: 95vh;
        justify-content: center;
    }
    .cafegrid {
        min-height: 410px;
    }
    .cafegrid h1 {
        font-size: 26px;
    }
    .cafegrid h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .titulomerch {
        top: 60vh;
        left: 5%;
        max-width: 70%;
    }
    .titulomerch h1 {
        font-size: 26px;
        top: 90%;
        left: 9%;
        line-height: 1.3;
    }
    .merchgrid{
        top: 550px;
        justify-content: center;
        grid-template-columns: 96%;
        height: 95vh;
    }
    .merchgrid2 {
        height: 49vh;
    }
    .merchgrid h2 {
        font-size: 18px;
        margin-top: 10px;
    }
    .merchgrid-partedos{
        grid-template-columns: 96%;
        height: 49vh;
        top: 196vh;
    }
    .merchgrid2-partedos h2 {
        font-size: 18px;
        margin-top: 10px;
    }

    /*PRODUCTO*/
}
/*----------------------------------------------Inicio pagina contacto----------------------------------------------------------------*/
/*------------------------------------------------------------------------------------------------------------------------------------*/

/*Inicio MAIN*/
.contenedor-principal-background{
    min-height: 100vh;
    background: url(../img/fondo-img-contacto.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 45px;
}
.contenido-de-contacto-2-col{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 90vw;
    max-width: 1150px;/*********************************/
    margin: 40px auto;
    gap: 40px;
}
.contact-col-izquierda-a{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 390px;
}
.contact-col-izquierda-a h1{
    color: #18275C;
    font-size: 40px ;
    font-family: 'rubik-bold';
    letter-spacing: 1px;
    margin-bottom: 12px;
}
.p-descripcion-de-contacto-a{
    color: #18275C;
    font-size: 18px;
    font-family: 'rubik-regular';
    margin-bottom: 16px;
}
.contenedor-info-items-b{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info-items{
   display: flex;
   align-items: center;
   gap: 12px;
   color: #18275C;
   font-family: 'rubik-regular';
   font-size: 18px;    
}
.info-items .icono-b{
    width: 25px;
}
.contenedor-contacto-redes-c{
    margin-top: 18px;
}
.contenedor-contacto-redes-c img{
    width: 250px;
    cursor: pointer;
}
/*seccion hidden--------------------------------------------------*/
.contact-col-izquierda-a-hidden{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    max-width: 390px;
}
.contenedor-info-items-b-hidden{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.info-items-hidden{
   display: flex;
   align-items: center;
   gap: 12px;
   color: #18275C;
   font-family: 'rubik-regular';
   font-size: 18px;    
}
.info-items-hidden .icono-b-hidden{
    width: 25px;
}
.contenedor-contacto-redes-c-hidden{
    margin-top: 18px;
}
.contenedor-contacto-redes-c-hidden img{
    width: 250px;
    cursor: pointer;
}
/*-----------------------------------------*/


.formulario-contacto form{
    background-color: #18275C;
    color: #FFFFFF;
    padding: 30px;
    width: 420px;
    min-width: 320px;
    max-width: 480px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: 'rubik-regular';
}
.primera-fila-Nom-Ape{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap: 8px;
    flex: 1;
}
.formulario-contacto input , textarea{
   padding: 8px;
   border-radius: 5px;
   border: none;
   box-sizing: border-box;
}
.formulario-contacto button{
    width: 100%;
    background-color: #FFFFFF;
    border: none;
    border-radius: 5px;
    padding: 9px;
    margin-top: 10px;
    cursor: pointer;
    font-family: 'rubik-medium';
    font-size: 15px;
}
.formulario-contacto button:hover{
    background-color: #e9ecf8;
}
/*boton flotante wha*/
.whatsapp-fija-c{
    position: fixed;
    width: 80px;
    height: 82px;
    bottom: 90px;
    right: 32px;
    z-index: 1000;
    background-color: #FFDF5c;
    border-radius: 50%;
    padding: 12px;
    box-shadow: 2px 4px 8px rgba(0, 0, 0, 0.25);
}
.whatsapp-fija-c:hover {
    background-color: #C7BEDC;
}
.contact-col-izquierda-a-hidden{
    display: none;
}
/*-------------------Responsive main de contacto ----------------------*/
/*tablet*/
@media screen and (max-width:873px) {
    .contenido-de-contacto-2-col{
        flex-direction: column;
        align-items: center;
        gap: 20px;
        width: 98vw;
        text-align: center;
      
    }
    .contact-col-izquierda-a{
        align-items: center;
        max-width: 98vw;
        order: 1;
        margin-top:50px ;
      
    }
    .formulario-contacto{
        order: 2;
       
    }
    .contenedor-info-items-b{
        display: none;
    }
    .contenedor-contacto-redes-c{
        display: none;
    }
    /*------seccion hidden-------------*/
    .contact-col-izquierda-a-hidden{
        display: block;
        flex-direction: column;
        align-items: center;
        text-align: center;
        max-width: 98vw;
        order: 3;
        
    }
    .contenedor-info-items-b-hidden{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 18px;
        margin-bottom: 50px;

    }
    .info-items-hidden{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 12px;
    }
}
@media screen and (max-width:744px) {
    .cormulario-contacto{
        width: 96vw;
        max-width: 420;
    }
    .contact-col-izquierda-a h1{
        font-size: 38px;
    }

    .info-items-hidden{
        font-size: 15px;
    }
    .contenedor-info-items-b-hidden .icono-b-hidden{
        width: 22px;
    }
    .contenedor-contacto-redes-c-hidden img{
        width: 212px;
        cursor: pointer;
    }
   }
   /*celular-------------------------------------------------------*/
   @media screen and (max-width:393px) {
    .contenedor-principal-background{
        padding: 6vh 0 14vw 0;
        align-items: center;
        justify-content: center;
    }
    .contenido-de-contacto-2-col{
        margin-top: 0;
        width: 99vw;
        gap: 8px;
    }
    .contact-col-izquierda-a h1{
        font-size: 28px;
        margin-bottom: 5px;
    }
    .p-descripcion-de-contacto-a{
        font-size: 15px;
        margin-bottom: 10px;
    }
    .formulario-contacto form{
        padding: 18px 12px 15px 12px;
        width: 97vw;
        min-width: unset;
        max-width: 315px;
    }
    .primera-fila-Nom-Ape{
        flex-direction: column;
        gap: 4px;
    }
    .contenedor-contacto-redes-c-hidden img{
        width: 185px;
        cursor: pointer;
    }
    .whatsapp-fija-c{
        right: 12px;
        bottom: 15px;
        padding: 5px;
        width: 48px;
       height: 48px;
    }
    .canal-wha-fija{
       width: 38px;
       height: 38px;
    }
    .form-group label{
        text-align: start;
    }
   }
   
/* ----------------------------------------------Inicio.Footer---------------------------------------------------*/
footer{
    background-color: #18275C;
    width: 100vw;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    left: 0;
    right: 0;
}
.contFooter{
    background-color: #18275C;
    width: 100%;
    color: white;
    font-family: 'rubik-medium';
    margin: 0;
    padding: 0; 
}

.rowFooter{
    display: flex;
    width: 100%;
    margin: 0;
    padding: 0;
    flex-direction: row;
    justify-content: space-evenly;
    box-sizing: border-box;

}
.col1 , .col2 , .col3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 36px;
    background-color: #18275C;
    line-height: 25px;
    min-width: 0;
    box-sizing: border-box;
}


.contenedor-col4{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 24px 36px;
    background-color: #18275C;
    color:#18275C ;
}

.col4{
    background-color: rgba(255, 255, 255, 0.2);
    width: 300px;
    height: 200px;
    padding: 25px 18px;
    border-radius: 4%;
    color: white;
  
}
.input-container{
    display: flex; 
}
.footer-input{
    border: 1px solid lightgray;
    padding: 10px;
    border-radius: 3px 0px 0px 3px ;
    
}
.boton-footer{
    border: none;
    padding:11px 22px ;
    border-radius: 0px 5px 5px 0px ;
    color: white;
    background-color: #9e9e9e;
    cursor: pointer;
}
.p-suscripcion{
    font-family: 'rubik-ligth';
    font-size: 12px;
    margin-top: 5%;
    width: 90%;
    
}
.contFooter a {
    text-decoration: none;  
    color: white;
    font-family: 'rubik-ligth';
    font-size: 14px;
   }
   
   .contFooter a:hover, iconos-nav{
       color: #727272;
       font-family: 'rubik-ligth';
       font-size: 15px;
       padding-left: 6px;
       transition: color 0.3s;
   }
   .suscripcion{
    margin-bottom: 3%;
   }
   .linea-divisoria {
    border-top: 1px solid #FFFFFF;
    margin: 0% 7%; 
    opacity: 0.5; 
}
  
.footer-bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    box-sizing: border-box;
    padding: 20px 40px;
    color: white;
}

.footer-logo{
    margin-left: 5%;
}
.footer-links{
    display: flex;
    gap: 30px;
}
.row-center-footer2{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.social-icons-footer{
    display: flex;
    margin-right: 5%;
    gap: 10px;
}
.social-icons-footer img:hover {
    transform: scale(1.2);
}
.suscripcion-tablet-bar{
    display: none;
}
.footer-logo-hidden{
    display: none;
}
/*-------------------------------------------------- Responsive - Footer---------------------------------------------------*/
/*Tablet*/
@media screen and (max-width: 904px) {
    .contenedor-col4 {
      display: none;
    }
  
    .rowFooter {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 2rem;
    }
  
    .social-icons-footer {
      display: none;
    }
    .footer-bottom {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      gap: 2rem;
    }
    .footer-bottom .col4 {
      display: flex ;
      flex-direction: row;
      align-items: center;
      background: rgba(255,255,255,0.2);
      width: auto;
      height: auto;
      padding: 10px 20px;
      margin-left: 1.5rem;
      border-radius: 8px;
      box-shadow: none;
    }
    .footer-bottom .p-suscripcion {
      display: none ;
    }
  }
  /*iphone*/
  @media screen and (max-width: 393px) {
   
    .rowFooter {
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      gap: 0;
      width: 100%;
      padding: 0;
    }
    .col1, .col2, .col3 {
      width: 100%;
      max-width: 100vw;
      padding: 16px;
      align-items: center;
      text-align: center;
      position: relative; 
    
    }
    .col1 h3, .col2 h3, .col3 h3 {
      font-size: 24px;
      text-align: center;
      margin: 15px 0 8px 0;
      font-family: 'rubik-medium';
    }
    .col1 a, .col2 a, .col3 a {
      font-size: 16px;
      margin-bottom: 15px;
      text-align: center;
      font-family: 'rubik-ligth';
    }
  
    .col2::before,
    .col3::before {
      content: "";
      position: absolute;
      top: -18px;
      left: 10%;
      width: 80%;
      height: 0;
      border-top: 1.3px solid #c1c8dc;
      opacity: 0.45;
    }
    .contenedor-col4 {
      display: none;
    }
    .linea-divisoria {
      margin: 15px auto;
      width: 92%;
    }
    .footer-logo {
      display: none
    }
    .logo-421-lila {
        display: none;
    }
    .footer-logo-hidden {
        display: flex;
        justify-content: center;
        margin: 16px ;
      }
      .logo-421-lila-hidden {
        width: 145px;
        margin: 10px;
        padding: 10px;
        display: block;
      }
    .logo-421-lila-hidden ::before,
    .col1::before {
      content: "";
      position: absolute;
      top: -18px;
      left: 10%;
      width: 80%;
      height: 0;
      border-top: 1.3px solid #c1c8dc;
      opacity: 0.45;
    }
    .footer-links {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 0;
      gap: 8px;
      width: 100%;
    }
    .footer-links a {
      font-size: 14px;
      text-align: center;
      color: #c3c3e6;
      margin-bottom: 6px;
      letter-spacing: .02em;
      font-family: 'rubik-regular';
    }
    .footer-links::before {
      content: "Legal";
      display: block;
      color: #fff;
      font-size: 16px;
      margin: 26px 0 10px 0;
      text-align: center;
      font-family: 'rubik-regular';
    }
    .footer-bottom {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0;
      width: 100vw;
      box-sizing: border-box;
    }
    .social-icons-footer {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 6px;
      margin: 15px 0 15px 0;
      width: 100%;
    }
    .social-icons-footer img {
      width: 50px;
      height: 50px;
      padding: 6px;
      box-sizing: border-box;
    }
    .social-icons-footer img:hover {
      background-color: #293479;
      border-color: #fff;
      transform: scale(1.1);
    }
  }
